* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

:root {
  --indent: 15%;
  --arrow-shape: polygon(
    0 0,
    0 100%,
    100% 100%,
    100% 0
  );
}

/* 
.parallelogram-outline {
  width: 300px;
  height: 300px;
  background-color: aquamarine;
  box-sizing: border-box;
}
.parallelogram-outline.on {
  display: inline-block;
  background: linear-gradient(to bottom right, blue, pink);
  padding: 10px;
  border-radius: 10px;
  clip-path: var(--arrow-shape);
}

.parallelogram {
  position: relative;
  font-family: sans-serif;
  background-color: white;
  padding: 0px;
  border-radius: 10px;
  clip-path: var(--arrow-shape);
  width: 100%;
  height: 100%;
} */

.rect-mask {
  position: relative;
  width: 100%;
  background-color:#FFF;
  border-radius: 50px;
  padding: 30px;
  z-index: 1;
  box-sizing: border-box;
}
.rect-mask.on {
  border: 0 none;
}
.rect-mask.on::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 10px solid transparent;
  background: linear-gradient(135deg,rgb(108, 55, 255),rgb(0, 167, 42)) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box, 
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) padding-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  box-sizing: border-box;
  z-index: 2;
}

.btn-on-off {
  background-color: #DDD;
  border: 0 none;
  padding: 20px;
  display: block;
  width: 100%;
  margin-top: 20px;
}
.btn-on-off:active {
  background-color: rgb(146, 146, 146);
}
