* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-size: 16px;
}

.rect-mask {
  position: relative;
  width: 100%;
  background-color:#FFF;
  /* body > font-size: 16px */
  border-radius: 1.25rem;
  padding: 30px;
  z-index: 1;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}

/* square round line */
.rect-mask.on::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* body > font-size: 16px */
  border-radius: 1.25rem;
  /* radius thickness: border-width */
  border: 10px solid transparent;
  background: linear-gradient(135deg,rgb(108, 55, 255),rgb(0, 167, 42)) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box, 
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) padding-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  box-sizing: border-box;
  z-index: 2;
}

/* button: on || off */
.btn-on-off {
  background-color: #DDD;
  border: 0 none;
  padding: 20px;
  display: block;
  width: 100%;
  margin-top: 20px;
}
.btn-on-off:active {
  background-color: rgb(146, 146, 146);
}
